@mixin flex-center($dir) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}


// 显示省略号
@mixin no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}